﻿
<div class="card mb-4">
    <img *ngIf="!car.imageURL || car.imageURL === ''" class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src='src/image/jeep.png' data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"/>
    <img *ngIf="car.imageURL" class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src={{car.imageURL}} data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"/>
    <div class="card-body">
        <h3 class="card-title">{{car.brand + " " + car.model + " " + car.year}}</h3>
        <div class="scrollable-text"><p class="card-text">{{car.specs}}</p></div>
    </div>
    <div class="card-footer">
        <strong class="text-muted">{{"Price: $USD " + car.price}}</strong>
        <br />
        <button class="button okbtn" (click)="onEdit.emit({ car: car })">Edit</button>                        
        <button class="button cancelbtn" (click)="onDelete.emit({ car: car })">Delete</button>
    </div>
</div>