<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Reset Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

	</head>
	<body>
        <h1 style="color: #1fcdff;">Reset Password</h1>
        <p>&nbsp;</p>
        <p>Your provisional password is <strong>{{new_password}}</strong>, We recommend you to change this password once logged in.</p>
        <p>&nbsp;</p>    
        <p>&nbsp;</p>
        <p>Regards,</p>
        <p><strong><a href="https://apitomic.bitbucket.io/" target="_blank">APITomic</a></strong> Team.</p>
        <p>&nbsp;</p>
	</body>
</html>

