﻿<!-- main app container --> 
<div class="container">
    <div>
        <h2>APItomic & Angular 6 - Authentication Example & Tutorial</h2>                        
        <router-outlet></router-outlet>
    </div>
</div>