﻿<div>
    <button (click)="profileClick()" style="width: auto;">My Account</button>
    <button (click)="logoutClick()" style="width: auto;">Logout</button>
    <br/>
    <br/>
    <h4>Hi {{currentUser.username}} !</h4>
    <p>You're logged in using APItomic Authentication Feature!</p>
                                                     
    <profile (onUserUpdate) = "ngOnInit()"></profile>  
    <carpage #carpage [title] = "carPageTitle" (onCarUpdate) = "ngOnInit()"></carpage>  

    <h3>Your Favorite Car List:</h3>
    <button (click)="addCarClick()" style="width: auto;"><span style="font-size: 1.5rem;">+</span></button>
    <br/>
    <div *ngIf="cars.length === 0"><em>You don't have any favorite yet!</em></div>
    <div *ngIf="cars.length > 0" class="row"> 
        <div *ngFor="let car of cars" class="col-sm-4">
            <carcard [car]="car" (onEdit)="editCarClick($event)" (onDelete)="deleteCarClick($event)"></carcard>            
        </div>
    </div>    
</div>