@charset "utf-8";
 body {
    overflow: hidden;
    margin: auto;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #363942; /* preloader background color */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    color: #fff;
    font-size: 6em;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 55%; /* centers the loading animation vertically one the screen */
    background-repeat: no-repeat;
    background-position: center;
    margin: -10% 0 0 -10%; /* is width and height divided by two */
}