@charset "UTF-8";
/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {    
    /*HREO AREA */
    #hero{max-height: 660px;}    
    
    /* FEATURED CLIENTS SECTION*/
    #clients img{height: 50px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) { 

    body {        
        background-size: 300% 1000%;
    }
        
    .apitomic-logo{
        max-height: 180px;
    }

    .apitomic-ant{
        max-height: 330px;
    }

    h4{font-size: 10pt;}
    
    .row {
        margin-top: 5%;
    }
    
    .ant {
        left: 45%;
        top: -1%;
    }
    
    footer {
        width: 100%;
        height: 15%;
    }
    
    #about{padding-left: 15%;}

    .footerlinks {
        margin: 10px 0;
        font-size: 70%;
    }

    .copyright{
        font-size: 80%;
    }

    #status {
        margin: -10% 0 0 -17%; /* is width and height divided by two */
    }
    
    /*HREO AREA */
    #hero{height: 540px;}
    
    /*ABOUT SECTION*/
    #about{padding-top: 40px;}
    
    /* FEATURED CLIENTS SECTION*/
    #clients {text-align: center;}
    #clients img{height: 40px;}
    #clients ul{float: none;}
    #clients h4 {display: none;}
    
    /* PORTFOLIO SECTION */
    #shotsByPlayerId li{width: 47%;}
    #shotsByPlayerId li:first-child{width: 97%;}
    
    .myphoto{text-align: center;}

    /*COLLUPSABLE NAVIGATION MENU*/
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse.collapse {display: none!important;}
	.navbar-nav>li {
        float: none;
        padding-left: 30px;
        overflow: hidden;
    }
    .collapse.in{display:block !important;}
}


/* Mobile Devices */
@media only screen and (max-width : 640px) {
    
    h2 {font-size: 1.9em;}
    h3{font-size: 1.5em}
    h4{font-size: 1.1em;}

    body {        
        background-size: 300% 400%;
    }
    
    /* .myphoto{display: none;} */

    .apitomic-ant{
        max-height: 300px;
    }
    
    .row {
        margin-top: 100%;
    }

    .apitomic-logo{
        max-height: 120px;
    }
    
    .ant {
        left: 8%;
        top: 2%;
    }

    .footerlinks {
        margin: 30px 0 10px 0;
    }

    .copyright{
        font-size: 80%;
    }

    #status {
        margin: -23% 0 0 -32%; /* is width and height divided by two */
    }
    
    /*Hero area*/
    #hero{height: 400px;}    
    .herocontent{padding-top: 30px;}
    
    /*About section*/
    #about{text-align: center;}
    
    /*Portfolio*/
    #shotsByPlayerId li {width: 96%;}
    
    /*Footer*/
    /* .footerlinks li{display: none;}        */
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
    #hero{height: 320px;}    
    #clients {display: none;}
    .footersocial li{font-size: 1.5em}
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
    #hero{height: 480px;}
    .herocontent{padding-top: 100px; padding-bottom: 30px;}

}


